{% extends 'core/base.html' %}

{% block title %}
    About This Project
{% endblock %}   

{% block content %}
    <h1>About</h1>

    <p class="flex flex-col min-h-screen">This is my first Python project that was created entirely with Tailwind CSS and Django. I made the decision to create an online store where anyone may list their creation, contact sellers, browse other postings, and modify or delete their posting. Hopefully, this effort will act as a foundation for my future knowledge accumulation. Thank you for checking out my first website, stay tuned for more projects! </p>
    {% endblock %}