{% extends 'core/base.html' %}

{% block title %}
    Terms of Use
{% endblock %}    


{% block content %}
<div class="flex flex-col min-h-screen">
    <h1 class="text-decoration-line: underline ">Terms of Use</h1>
    <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae odio aliquam, congue neque vel, interdum nisi. In a massa sed tellus elementum porttitor. Quisque feugiat ut purus eget lacinia. Nam vel mauris felis. Proin in quam id lorem sollicitudin semper id in nibh. Proin condimentum enim massa, ac faucibus enim feugiat nec. Vivamus sollicitudin quam et odio porttitor lacinia. Donec dapibus odio a risus accumsan, at tristique odio volutpat.<br>
        
        <br>Donec sed diam vel mauris mattis efficitur nec et mauris. Etiam dignissim enim auctor tincidunt volutpat. Mauris suscipit accumsan faucibus. Proin porttitor tincidunt nisl nec bibendum. Mauris ultricies ultrices placerat. Suspendisse malesuada posuere eros at pellentesque. Donec id justo ac diam tincidunt varius. Phasellus dignissim cursus ante ultrices iaculis. Phasellus at nibh eget sem imperdiet viverra. Pellentesque orci risus, finibus sit amet egestas non, venenatis ac ante. Proin tempus sapien finibus purus rutrum, a cursus lacus commodo.<br>
        
        <br>Sed sit amet mauris accumsan, congue mi eu, posuere orci. Fusce volutpat placerat molestie. Suspendisse potenti. Duis vestibulum sem non mauris hendrerit feugiat. Cras finibus quis libero vitae semper. Mauris dolor est, luctus vitae faucibus finibus, elementum ut metus. Praesent laoreet vestibulum hendrerit. Fusce vitae nisl non purus interdum hendrerit ut nec nisi. Etiam rutrum ante ac luctus ultrices.<br>
        
        <br>Cras consequat enim sit amet dolor ornare tincidunt eu sed magna. Maecenas in dolor tristique eros rhoncus porta sed quis mi. Vivamus nisl orci, lacinia a placerat vitae, consectetur at turpis. Vivamus blandit, leo vel sollicitudin finibus, elit neque tristique nunc, eu congue augue diam eu nisi. Quisque fringilla, felis vitae maximus gravida, nunc nisi mattis dui, id sollicitudin sapien sem nec purus. Nunc et mattis ipsum. Integer aliquet orci id massa interdum, vel maximus turpis ullamcorper. Vivamus sed massa viverra, mollis elit vel, vestibulum velit. Nulla facilisi. Sed dapibus velit dolor, sit amet sagittis mauris lacinia ut. Vestibulum sodales, elit at pharetra laoreet, nisi metus egestas nunc, in imperdiet lectus nulla nec felis. Pellentesque et lectus lacus. Sed ut accumsan augue, a tristique nibh. Nulla pretium augue at turpis porta, quis laoreet augue fringilla. Fusce sit amet egestas velit.<br>
        
        <br>Etiam a enim bibendum, dapibus mi et, tincidunt enim. Maecenas ut sapien eu nisi dapibus consectetur. Quisque posuere metus et ultrices commodo. Nam nec laoreet libero. Morbi ut arcu placerat quam egestas aliquam. Curabitur quis mauris et ligula varius hendrerit non at diam. Aenean tincidunt pharetra odio nec dictum. Mauris vulputate est ut rhoncus vehicula. Sed accumsan ipsum quis elit vulputate, id congue est consectetur. Vivamus condimentum nisl fringilla, semper turpis vitae, sollicitudin mi. Mauris porta pulvinar mattis.<br>
        
        </p>
</div>
{% endblock %}