{% extends 'core/base.html' %}

{% block title %}
    Privacy Policy
{% endblock %}    


{% block content %}
<div class="flex flex-col min-h-screen">
    <h1 class="text-decoration-line: underline ">Privacy Policy</h1>
    <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum, lectus in gravida aliquam, tellus nisi semper lacus, non imperdiet turpis ipsum nec est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent nisl est, pharetra eget rutrum et, commodo nec mauris. Praesent at dolor ut diam efficitur cursus. Donec non tempor ex. Nullam in turpis aliquam ipsum mattis malesuada nec sit amet lectus. Duis nec orci turpis. Sed vehicula eros vitae justo interdum, tincidunt tempor sem lacinia. Proin pharetra leo enim, vitae auctor odio vestibulum quis. Vestibulum dictum rhoncus mauris quis dapibus. Nunc sollicitudin aliquet lorem mattis dictum. Proin varius vestibulum leo, ac euismod velit facilisis a.<br>

        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu neque ac dui faucibus gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mauris sem, bibendum non enim quis, euismod sodales est. Maecenas dictum enim eget dapibus gravida. Maecenas luctus cursus purus, eu varius nunc viverra vel. Vivamus mattis dolor in augue fringilla lobortis. Fusce viverra mauris diam, vitae sagittis lacus fringilla nec.<br>
        
        <br>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas vel velit sit amet arcu vehicula hendrerit at vitae ipsum. Morbi libero odio, malesuada eu metus a, semper sodales lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vehicula semper ligula ut euismod. Morbi facilisis eros vitae cursus pulvinar. Nunc eget massa consequat, pulvinar dolor at, auctor sem.<br>
        
        <br>Aliquam erat volutpat. Integer et ipsum arcu. Pellentesque sit amet felis at est eleifend maximus at a arcu. Nam sit amet scelerisque tellus. Mauris fringilla eu enim at auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse tincidunt, nulla vitae elementum accumsan, erat ante elementum dolor, id lobortis nisi nunc sed nulla. Cras sodales aliquam malesuada. Donec accumsan sed felis sit amet tincidunt. Donec volutpat suscipit eros id sodales. In sagittis mollis scelerisque. Phasellus sit amet varius tortor, id efficitur sapien. Duis neque quam, gravida vel tincidunt ac, placerat at leo.<br>
        
        <br>Nullam malesuada enim volutpat accumsan scelerisque. Maecenas vitae nulla urna. Nam aliquam mi non lorem dignissim, quis scelerisque libero volutpat. Phasellus porttitor id risus nec tristique. Nam eget tellus nec augue pellentesque vulputate vel a diam. Aenean rhoncus viverra egestas. Mauris pharetra diam sit amet ex tempus mollis. Nullam suscipit lacus gravida erat luctus viverra. Donec mattis est eget lacus cursus, a pretium tellus tristique. Nunc ac urna nec sapien eleifend condimentum et eget dolor. Morbi blandit diam eu lectus vestibulum, a elementum purus elementum. Quisque varius ut velit id pellentesque. Mauris porta risus in ligula blandit, et pellentesque purus condimentum.</p>
</div>
{% endblock %}